*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
}

.menu{
    height: 80px;
    width: auto;
    background-color: white;
    position: relative;
}

header{
    position: relative;
}

.logo{
    position: absolute;
    top: 30px;
    left: 2%;
    max-width: 120px;
}

.logo:hover{
    cursor: pointer;
}

/* menu */
.menu nav{
    position: absolute;
    top: 30px;
}

.sinistra nav ul li{
    display: inline-block;
    font-weight: bold;
    padding: 0 20px;
    position: relative;
    left: 180px;
    }

.sinistra nav ul li a{
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.sinistra nav ul li a:hover{
    text-decoration: 1px underline;
}

.destra nav ul li{
    display: inline-block;
    font-weight: bold;
    padding: 0 20px;
    position: relative;
    left: 1300px;
}

.destra nav ul li a{
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.destra nav ul li a:hover{
    text-decoration: 1px underline;
}

.inizia{
    color: white;
    border: 50px;
    background-color: #0061ff;
    padding: 10px 20px;
}